<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Collection Get!</title>
    <meta name="author" content="Collection Get!">
    <meta name="description" content="">
    <meta name="viewport" content="width=1000">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/application.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/application.js"></script>

    <link rel="shortcut icon" href="/imgages/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/imgages/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/imgages/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/imgages/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/imgages/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/imgages/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/imgages/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/imgages/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/imgages/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/imgages/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/imgages/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/imgages/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/imgages/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/imgages/favicon-32x32.png" sizes="32x32">

  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="#welcome" title="Collection Get!" class="nav_active">Collection Get!</a>
        </li>
        <li>
          <a href="#about" title="About">About</a>
        </li>
        <li>
          <a href="#listen" title="Listen">Listen</a>
        </li>
        <li>
          <a href="#pictures" title="Pictures">Pictures</a>
        </li>
        <li>
          <a href="#contact" title="Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <section id="welcome">
      <img src="images/banner_text.png" alt="Collection Get!" class="cover invisible">
    </section>
    <section id="about">
      <article>
        <h2>About</h2>
        <p>
          Ottawa / Winnipeg Duo Collection Get! Is a low-bit star fighter, crashing though a lush palate of hi-fi indie electro textures. Rare vintage synths, nintendos, old computers and an unreasonable pile of live instruments provide the backdrop for Grace Hrabi (vocals + keys) and Eliot Britton (brooding robot, beats and synths). Collection Get's debut album has recently been released, and will launch this exciting new addition to Canada's indie pop soundscape.
        </p>
      </article>
    </section>
    <section class="in-between_pic background1" data-type="background" data-speed="5"></section>
    <section id="listen">
      <article>
        <h2>Order CD</h2>
        <p>
          Debut album <em>Save As...</em> available now
          <br>
          $10 including shipping in US/Canada
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="padding: 24px 50px;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="PYUJECHLLXGAG">
            <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </p>
      </article>
      <iframe style="border: 0; width: 400px; height: 472px;" class="bandcamp" src="http://bandcamp.com/EmbeddedPlayer/album=2041641933/size=large/bgcol=ffffff/linkcol=de270f/artwork=small/transparent=true/" seamless><a href="http://collectionget.bandcamp.com/album/save-as">Save As... by Collection Get!</a></iframe>
    </section>
    <section class="in-between_pic background2" data-type="background" data-speed="10"></section>
    <section id="pictures">
      <ul>
        <li>
          <a class="fancybox" rel="group" href="pictures/gallery1.jpg"><img src="pictures/gallery1_thumb.jpg" alt=""></a>
        </li>
        <li>
          <a class="fancybox" rel="group" href="pictures/gallery2.jpg"><img src="pictures/gallery2_thumb.jpg" alt=""></a>
        </li>
        <li>
          <a class="fancybox" rel="group" href="pictures/gallery3.jpg"><img src="pictures/gallery3_thumb.jpg" alt=""></a>
        </li>
        <li>
          <a class="fancybox" rel="group" href="pictures/gallery4.jpg"><img src="pictures/gallery4_thumb.jpg" alt=""></a>
        </li>
        <li>
          <a class="fancybox" rel="group" href="pictures/gallery5.jpg"><img src="pictures/gallery5_thumb.jpg" alt=""></a>
        </li>
      </ul>
    </section>
    <section class="in-between_pic background3" data-type="background" data-speed="15"></section>
    <section id="contact">
      <div class="content">
        <ul class="info">
          <li class="mail">
            <small>Contact us</small>
            <%= @email %>
          </li>
        </ul>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/pages/Collection-Get/216883328618" title="Like Collection Get! on Facebook">
              <img src="images/facebook-sociocon.png" alt="Like Collection Get! on Facebook">
            </a>
          </li>
          <li>
            <a href="https://soundcloud.com/grace-hrabi" title="Collection Get! on Soundcloud">
              <img src="images/cloud-sociocon.png" alt="Collection Get! on Soundcloud">
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <div class="made_by">
        <p>
          <a href="http://gracehrabi.com" title="Grace Hrabi">Grace Hrabi</a> / <a href="http://ebritton.ca" title="Eliot Britton">Eliot Britton</a> / <a href="http://kevinmcphillips.ca" title="Kevin McPhillips">Kevin McPhillips</a>
        </p>
      </div>
    </footer>
    <%= erb :analytics %>
  </body>
</html>
